<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bs-books.css">
</head>
<body>
   <section class="bs-books">
    <div class="bestCategories">
        <!-- <h2 class="bs-title">Best Sellers <span class="bs-title-blue">Books</span></h2>
        <ul class="bs-list"></ul> -->
    </div>
    <script src="../js/bs-books.js" type="module"></script>
</section> 
</body>
</html>
