<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>categories-list</title>
    <link rel="stylesheet" href="../css/categories.css" />
  </head>
  <body>
    <div class="categories-box">
      <button
        class="btn-list js-bac back-current"
        type="button"
        name="ALL CATEGORIES"
      >
        ALL CATEGORIES
      </button>
      <ul class="categories-List">
        <li class="categories-item" name=""></li>
      </ul>
    </div>
    <script type="module" src="../js/categories.js"></script>
    <script src="../js/bs-books.js" type="module"></script>
  </body>
</html>
