<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="./css/header.css" />
  </head>

  <body>
    <header>
      <div class="header-logo">
        <svg class="logo-icon" width="24" height="24">
          <use href="../images/icons.svg#icon-logo"></use>
        </svg>
        <span>Bookshelf</span>
      </div>

      <div class="header-menu-fixed">
        <a href="./index.html" class="home-link-fixed current">Home</a>

        <div class="header-shopping-list-fixed">
          <a href="./shopingList.html">Shopping list</a>
          <svg class="logo-shop" width="20" height="20">
            <use href="../images/icons.svg#icon-Bag"></use>
          </svg>
        </div>
      </div>

      <div class="header-button-wrapper">
        <div class="toggle-button">
          <div class="toggle-switch">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
        </div>

        <div class="burger-button" onclick="toggleBurger()">
          <svg class="burger-1" width="28" height="28">
            <use href="../images/icons.svg#icon-mob-menu"></use>
          </svg>
        </div>
      </div>

      <div class="dropdown-menu">
        <div class="header-menu">
          <div class="home-link">
            <a href="../index.html">Home</a>
          </div>

          <div class="header-shopping-list">
            <a href="../shopingList.html">Shopping list</a>
            <svg class="logo-shop" width="20" height="20">
              <use href="../images/icons.svg#icon-Bag"></use>
            </svg>
          </div>
        </div>
      </div>
    </header>
    <script>
      function toggleBurger() {
        document.querySelector('.burger-button').classList.toggle('active');
        document.querySelector('.dropdown-menu').classList.toggle('active');
      }
    </script>
    <script type="module" src="./js/header.js"></script>
  </body>
</html>
