<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mobMenu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/basiclightbox@5.1.2/dist/basicLightbox.min.css">
</head>

<body>

    <div class="container book-info" id="bookModal">
        <img class="modal-image" alt="Book Cover">
        <h2 class="modal-title"></h2>
        <p class="modal-author"></p>
        <p class="modal-text"></p>
        <ul>
            <li><a href="?" class="shopping-link"><img src="./images/amazon.png" alt="Amazon link" width="62"
                        height="19"></a></li>
            <li><a href="?" class="shopping-image"><img src="./images/shopping-image.png" alt="Amazon book" width="32"
                        height="32"></a></li>
        </ul>
        <button class="modal-button" id="toggleShoppingList">Add to Shopping List</button>
        <button class="modal-close"><img src="./images/x-close.png" alt="Close" width="14" height="14"></button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/basiclightbox@5.1.2/dist/basicLightbox.min.js"></script>
    <script src="local-storage.js"></script>
    <script src="openModal.js"></script>
</body>

</html>