<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/shopingList.css" />
  </head>
  <body>
    <section class="shopping-list-section">
      <div class="container">
        <h1 class="shopping-list-title">
          Shopping <span class="shopping-list-title-span">List</span>
        </h1>

        <ul class="shopping-list"></ul>
      </div>
    </section>

    <script src="./js/shoppingList.js" type="module"></script>
  </body>
</html>
