<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Support Ukraine</title>
    <link rel="stylesheet" href="./css/supportUkraine.css" />
  </head>
  <body>
    <ul class="ukr-list">
      <h1 class="ukr-header"><span class="ukr-text">Support Ukraine</span> <img src="./images/gerb.svg" alt="gerb" class="gerb"></h1>
      <li class="ukr-item">
        <span class="ukr-number">01</span>
        <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank">
          <img
          src="./images/save-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
        </a>
      </li>
      <li class="ukr-item">
        <span class="ukr-number">02</span>
        <a href="https://www.projecthope.org/country/ukraine/" target="_blank">
          <img
          src="./images/hope-min.png"
          class="ukr-img"
          alt="hope"
          width="149"
          height="55"
        />
        </a>
      </li>
      <li class="ukr-item">
        <span class="ukr-number">03</span>
        <a href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank">
          <img
          src="./images/inter-min.png"
          class="ukr-img"
          alt="international medical corps"
          width="149"
          height="55"
        />
        </a>
      </li>
      <li class="ukr-item">
        <span class="ukr-number">04</span>
        <a href="https://www.razomforukraine.org/" target="_blank">
          <img
          src="./images/razom-min.png"
          class="ukr-img"
          alt="razom for ukraine"
          width="149"
          height="55"
        />
        </a>
      </li>
      <li class="ukr-item">
        <span class="ukr-number">05</span>
        <a href="https://www.actionagainsthunger.org/location/europe/ukraine/" target="_blank">
          <img
          src="./images/action-min.png"
          class="ukr-img"
          alt="action against hunger"
          width="149"
          height="55"
        />
        </a>
      </li>
      <li class="ukr-item">
        <span class="ukr-number">06</span>
        <a href="https://prytulafoundation.org/en" target="_blank">
          <img
          src="./images/prytula-min.png"
          class="ukr-img"
          alt="prytula foundation"
          width="149"
          height="55"
        />
        </a>
      </li>
      <li class="ukr-item">
        <span class="ukr-number">07</span>
        <a href="https://www.msf.org/ukraine" target="_blank">
          <img
          src="./images/sans-min.png"
          class="ukr-img"
          alt="mfs"
          width="149"
          height="55"
        />
        </a>
      </li>
      <li class="ukr-item">
        <span class="ukr-number">08</span>
        <a href="https://www.wvi.org/emergencies/ukraine" target="_blank">
          <img
          src="./images/world-min.png"
          class="ukr-img"
          alt="world"
          width="149"
          height="55"
        />
        </a>
      </li>
      <li class="ukr-item">
        <span class="ukr-number">09</span>
        <a href="https://u24.gov.ua/uk" target="_blank">
          <img
          src="./images/24-min.png"
          class="ukr-img"
          alt="24"
          width="149"
          height="55"
        />
        </a>
      </li>
    </ul>

    <script src="./js/supportUkraine.js" type="module"></script>
  </body>
</html>
