<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Support Ukraine</title>
    <link rel="stylesheet" href="./css/supportUkraine.css" />
  </head>
  <body>
    <div class="support-wrapper">
      <div class="support-container">
        <div class="title-icon">
          <h3 class="support-title">Support Ukraine</h3>
          <img
            src="./images/gerb.svg"
            alt="gerb"
            class="support-icon"
            width="20"
            height="32"
          />
        </div>
        <div class="support-list-container">
          <ul class="support-list" id="support-list"></ul>
        </div>
      </div>
      <button
        class="scroll-button"
        type="button"
        id="scroll-btn"
        alt="slider button"
      >
        <svg class="support-btn-icon" width="14" height="14" alt="arrow">
          <use href="/images/icons.svg#icon-Vector"></use>
        </svg>
      </button>
    </div>

    <script src="./js/supportUkraine.js" type="module"></script>
  </body>
</html>
