<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Support Ukraine</title>
    <link rel="stylesheet" href="./css/supportUkraine.css" />
  </head>
  <body>
    <div class="container">
    <ul class="ukr-list">
      <p class="ukr-p">Support Ukraine</p>
      <img src="./images/gerb.svg" alt="gerb">
      <li class="ukr-item">
        <span class="ukr-number">01</span>
        <img
          src="./images/save-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
      </li>
      <li class="ukr-item">
        <img
          src="./images/hope-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
      </li>
      <li class="ukr-item">
        <img
          src="./images/inter-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
      </li>
      <li class="ukr-item">
        <img
          src="./images/razom-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
      </li>
      <li class="ukr-item">
        <img
          src="./images/action-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
      </li>
      <li class="ukr-item">
        <img
          src="./images/prytula-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
      </li>
      <li class="ukr-item">
        <img
          src="./images/sans-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
      </li>
      <li class="ukr-item">
        <img
          src="./images/world-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
      </li>
      <li class="ukr-item">
        <img
          src="./images/24-min.png"
          class="ukr-img"
          alt="save the children"
          width="149"
          height="55"
        />
      </li>
    </ul>
</div>

    <script src="./js/supportUkraine.js" type="module"></script>
  </body>
</html>
