.categories-box {
  height: 228px;
  width: 335px;
  overflow-y: scroll;
}
.btn-list {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}
.back-current {
  color: #4f2ee8;
}
