
.box-cat {
  width: 335px;
  height: 228px;
  overflow-y: scroll;
  margin-top: 40px;
}

.btn-list {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}
.back-current {
  color: #4f2ee8;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.last-word-color {
  color: rgb(79, 46, 232);
}

/* =============================================== */
/* .btn-list-item {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
} */
.btn-list-all {
  margin-bottom: 24px;
}
.categories-List {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.btn-list:hover,
.btn-list:focus {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4f2ee8;
} 
/* .btn-list-item:hover,
.btn-list-item:focus {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4f2ee8;
}  */

/* =================Медіа запити =========================== */

@media screen and (min-width: 768px) {
  .box-cat {
    width: 337px;
    height: 472px;
    white-space: nowrap;
  }
  .btn-list {
    font-size: 18px;
    line-height: 1.33;
  }
  .btn-list-item {
    font-size: 18px;
    line-height: 1.33;
  }
  .categories-List {
    gap: 32px;
  }
  .btn-list:hover,
  .btn-list:focus {
    font-size: 18px;
    line-height: 1.33;
  }
  .btn-list-item:hover,
  .btn-list-item:focus {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .box-cat {
    width: 356px;
    /* margin-bottom: 86px; */
  }
}
