@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
    font-family: "DM Sans", Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f6;
    width: 100vw;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

section {
    /* width: 320px; */
}

.sidebar {
    display: none;
}

.shopping-list-section {
    background-color: #f6f6f6;
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 335px;
    display: flex;
        flex-direction: column;
        /* Ensure children stack vertically */
        align-items: center;
        justify-content: center;
        /* Center children horizontally */

    /* display: none; */
}

.dark-theme .shopping-list-section {
    background-color: #202024;
}

.shopping-list-container {
    /* display: none; */
    margin: 0 auto;
}

.shopping-list-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1875;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 16px;
}

.dark-theme .shopping-list-title {
        color: #fff;
}

.shop-list-placeholder {
    text-align: center;
    margin-top: 104px;
}

.shop-list-placeholder-text {
    width: 244px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.28px;
}

.dark-theme .shop-list-placeholder-text {
    color: rgba(255, 255, 255, 0.6);
}

.shop-list-placeholder-img {
    width: 265px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}

.delete-btn {
    position: absolute;
    right: 14px;
    top: 14px;
    width: 28px;
    height: 28px;
    padding: 6px;
    border-radius: 50%;
    border: none;
    background-color: #4f2ee8;
    transition: filter var(--transition-time);
}

.delete-btn-icon {
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../png/trash-x1.png');
}

.delete-btn:hover,
.delete-btn:focus {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.596));
    translate: 0 -2px;
}

.dark-theme .delete-btn:hover {
    filter: drop-shadow(0px 3px 3px rgb(112, 80, 255));
}

.shopping-list-title-span {
    color: #4f2ee8;
}

.shopping-list {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px;
    /* width: 335px; */
    /* align-items: flex-start; */
}

.shopping-list-item {
    background-color: #fff;
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
    padding: 14px;
    max-width: 335px;
    /* max-height: 170px; */
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: center; */
    position: relative;
}

.dark-theme .shopping-list-item {
    background-color: #111;
}

.shopping-list-div-image {
    width: 100px;
    height: 142px;
    border-radius: 8px;
    margin-right: 14px;
}

.shopping-list-image {
    display: block;
    max-width: 100%;
    object-fit: cover;
    width: 100px;
    height: 142px;
    border-radius: 8px;
}

.shopping-list-text {
    /* margin-left: 14px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /*justify-content: center;
    gap: 16px; */
    /* max-width: 193px; */
    width: 223px;
}

.shopping-list-div-descr {
    display: flex;
    flex-direction: column;
}

.shopping-list-item-header {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.04em;
    margin-bottom: 4px;
    display: inline-block;
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dark-theme .shopping-list-item-header {
    color: #ffffff;
}

.shopping-list-item-category {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #b4afaf;
    margin-bottom: 8px;
    width: 165px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shopping-list-item-description {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #111;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* height: 58px; */
}

.dark-theme .shopping-list-item-description {
    color: #fff;
}

.description-wrapper {
    height: 58px;
    margin-bottom: 20px;
}

/* .shopping-list-div-buy {
  display: flex;
  justify-content: space-between;
} */

.shopping-list-item-author {
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    color: #b4afaf;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-wrapper {
    
}

.apple-icon,
.amazon-icon {
    filter: grayscale(100%);
    display: inline-block;
}

.amazon-icon {
    margin-right: 8px;
}

.dark-theme .amazon-icon {
    filter: brightness(0) invert(1);
}

.amazon-logo img {
        width: 32px;
        height: 11px;
        transition: filter var(--transition-time);
}

.apple-books-logo img {
    width: 16px;
    height: 16px;
    transition: filter var(--transition-time);
}

.hover-items-amaz-books:hover,
.hover-items-amaz-books:focus {
    filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.dark-theme .hover-items-amaz-books:hover,
.dark-theme .hover-items-amaz-books:focus {
    filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

#tui-pagination-container.tui-pagination {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 335px;
}

.tui-pagination .tui-page-btn {
    border-radius: 100%;
    fill: #111;
    stroke-width: 1px;
    stroke: #111;
    width: 38px;
    /* height: 38px; */ /* padding: 12px 14px; */
    flex-shrink: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    /* font-size: 18px; */
    line-height: 1.22222;
    color: #000;
    border: 1px solid black;
    display: block;
    text-align: center;
    position: relative;
    font-size: 20px;
}

#tui-pagination-container .tui-page-btn {
    border: 1px solid black;
}

strong.tui-page-btn.tui-is-selected {
    border-radius: 100%;
    background-color: black;
    color: #fff;
    border: 1px solid black;
    /* border-left: none; */
}

/* .tui-pagination .tui-is-selected:hover,
.tui-pagination .tui-is-selected:focus {
    border: 1px solid white;
    border-left: none;
} */

.tui-ico-ellip {
    /* Adjust the position of the three dots */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-45%, -45%);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    color: #111;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev {
    background-color: black;
    position: relative;
}

.tui-pagination .tui-first .tui-ico-first,
.tui-pagination .tui-prev .tui-ico-prev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tui-pagination .tui-next,
.tui-pagination .tui-last {
    background-color: #EAC645;
    position: relative;
}

.tui-pagination .tui-next .tui-ico-next,
.tui-pagination .tui-last .tui-ico-last {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .shopping-list-container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .shopping-list-section {

    }

    .shopping-list-title {
        font-size: 48px;
        line-height: 1.08;
        margin-bottom: 40px;
    }



    .shop-list-placeholder-text {
        width: 349px;
        margin-top: 124px;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.36px;
    }
    
    .shop-list-placeholder-img {
             width: 322px;
             height: 241px;
             margin-top: 20px;
    }

    .shopping-list-item {
        padding: 24px;
        max-width: 704px;
        width: 704px;
    }

    .delete-btn {
        right: 24px;
        top: 24px;
        width: 34px;
        height: 34px;
        padding: 8px;
    }

    .delete-btn-icon {
        width: 18px;
        height: 18px;
        background-image: url('../png/trash-x2.png');
    }

    .shopping-list-div-image {
        width: 116px;
        height: 165px;
        margin-right: 24px;
    }

    .shopping-list-image {
        max-width: 100%;
        width: 116px;
        height: 165px;
    }

    .shopping-list-text {
        width: 508px;
    }

    .shopping-list-item-header {
        width: 480px;
    }

    .shopping-list-item-category {
        margin-bottom: 14px;
        width: 480px;
    }

    .shopping-list-item-description {}

    .description-wrapper {
        height: 75px;
        margin-bottom: 20px;
    }

    .link-container {}

        .amazon-icon {
            margin-right: 16px;
        }

    .amazon-logo img {
            width: 48px;
            height: 15px;
    }
    
    .apple-books-logo img {
            width: 28px;
            height: 27px;
    }

   #tui-pagination-container.tui-pagination {
        margin-top: 40px;
        max-width: 446px;
        margin-right: auto;
        margin-left: auto;
    }

    .tui-pagination .tui-page-btn {
        width: 44px;
        /* height: 44px; */
        padding: 12px 14px;
    }
}

@media screen and (min-width: 768px) {
    .home-link-fixed {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #111;
        text-decoration: none;
    }

    #home:hover,
    #home:focus {
         color: #ffffff;
        border-radius: 40px;
        padding: 8px 12px;
        background-color: rgb(79, 46, 232);
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.596));
        translate: 0 -1px;
        scale: 1.03;
        fill: #ffffff;
    }
        
    .dark-header #home:hover,
    .dark-header #home:focus {
        filter: drop-shadow(0px 3px 3px rgb(112, 80, 255));
    }
    
    #shoping-list {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 36px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 36px;
        background: #eac645;
    }
    #shoping-list a {
        color: #111111;
    }
    #logo-shop {
        fill: #111111;
    }
}

@media screen and (min-width: 1440px) {
    .shopping-list-container {
        width: 996px;
        padding-left: 40px;
    }

    .sidebar {
        display: flex;
        width: 380px;
    }

    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 24px;
        background-color: #f6f6f6;
    }

    .dark-theme .wrapper{
        background-color: #202024;
    }

    .shopping-list-title {}

    .shopping-list-item {
        max-width: 996px;
        width: 996px;
    }

    .shop-list-placeholder {
        margin-top: 140px;
    }

    .delete-btn {}

    .shopping-list-div-image {}

    .shopping-list-image {}

    .shopping-list-text {
        width: 808px;
    }

    .shopping-list-item-header {
        width: 760px;
    }

    .shopping-list-item-category {
        width: 760px;
    }

    .shopping-list-item-description {}

    .description-wrapper {
        height: 75px;
        margin-bottom: 20px;
    }

    .link-container {}
}
.dark-header {
    background-color: #111111;
    color: #ffffff;
}
.dark-theme {
    background-color: #202024;
    color: #ffffff;
}