/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./supportUkraine.css');
@import url('./bs-books.css');
@import url('./modal.css');
@import url('./categories.css');
@import url('./scrollup.css');
@import 'node_modules/modern-normalize/modern-normalize.css';


:root {
  font-family: "DM Sans", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(252, 249, 249, 0.40);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #FCF9F9;
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.home-link #home {
  color: #111111;
  background-color: #eac645;
}


@media screen and (min-width: 375px) {
  .sidebar {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .wrapper {
    padding: 0;
  }

  .sidebar {
    display: flex;
    min-width: 768px;
    flex-direction: row;
    gap: 32px;
  }


  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 36px;
    background: #eac645;
  }

  #shoping-list:hover,
  #shoping-list:focus {
    color: #ffffff;
    border-radius: 40px;
    padding: 5.5px 9px;
    background-color: rgb(79, 46, 232);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.596));
    translate: 0 -1px;
    scale: 1.03;
    fill: #ffffff;
  }

  .dark-header #shoping-list:hover,
  .dark-header #shoping-list:focus {
    filter: drop-shadow(0px 3px 3px rgba(112, 80, 255, 0.501));
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .sidebar {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    min-width: 380px;
    padding-left: 24px;
    gap: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

/*==============DARK-THEME===================*/
.dark-theme {
  background-color: #202024;
  color: #ffffff;
  fill: #ffffff;
}

.dark-header {
  background-color: #111111;
  color: #ffffff;
}

.white-text {
  color: #ffffff;
}