.ukr-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.ukr-text{
    font-family: sans-serif;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
    font-size: 25px;
    color: #fff;
}

.gerb{
    padding-left: 15px;
}

.ukr-list{
    width: 335px;
    /* max-height: 460px; */
    height: fit-content;
    background-color: rgb(79, 46, 232);
    background: linear-gradient(to bottom, #4F2EE8, #c7c8f3);
    border-radius: 12px;
}


.ukr-item{
    display: flex;
    color: #fff;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.ukr-img{
    filter: brightness(0) invert(1);
    width: 149px;
    height: 55px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.ukr-number{
    display: block;
    margin-left: 40px;
}